.listItemWidth {
  width: 91%;
}
.paperWidth {
  width: 82%;
}
.flexDiv {
  display: flex!important;
}
.marginIco {
  margin-top: 12px!important;
}
.marginList {
  margin-left: 2%;
  margin-right: 2%;
}

